{% extends 'base.html' %}

{% block content %}
<div class="cart-container">
    <h2>Выбранные паспорта</h2>

    {% if passports %}
        {% for passport in passports %}
        <div class="passport-card">
            <img src="{{ passport.photo.url }}" alt="Фото паспорта" class="passport-photo">
            <div class="passport-info">
                <h2 class="passport-title">{{ passport.full_name }}</h2>
                <p><strong>Дата рождения:</strong> {{ passport.birth_date|date:"d M Y" }}</p>
                <p><strong>Номер паспорта:</strong> {{ passport.passport_number }}</p>
                <p><strong>Страна:</strong> {{ passport.country }}</p>
                <p><strong>Орган, выдавший документ:</strong> {{ passport.issuing_authority }}</p>
            </div>
            <a href="{% url 'remove_from_cart' passport.pk %}" class="btn-delete">Удалить</a>
        </div>
        {% endfor %}

        <a href="{% url 'create_application' %}" class="btn btn-primary">Оформить заявку</a>

    {% else %}
        <p class="empty-cart">Корзина пуста.</p>
    {% endif %}
</div>
{% endblock %}
