{% extends 'base.html' %}

{% block content %}
<div class="passport-detail-container">
    <div class="passport-card">
        <img src="{{ passport.photo.url }}" alt="Фото паспорта" class="passport-photo">
        <div class="passport-info">
            <h2 class="passport-title">{{ passport.full_name }}</h2>
            <p><strong>Дата рождения:</strong> {{ passport.birth_date|date:"d F Y" }}</p>
            <p><strong>Номер паспорта:</strong> {{ passport.passport_number }}</p>
            <p><strong>Страна:</strong> {{ passport.country }}</p>
            <p><strong>Орган, выдавший документ:</strong> {{ passport.issuing_authority }}</p>
        </div>
    </div>
    <a href="{% url 'add_to_cart' passport.pk %}" class="btn-large">Добавить в заявку</a>
</div>
{% endblock %}
